<h1>Atlanta Bus Route Guide</h1>

<p>
  Tell us your address and location and we'll let you know where the closest bus is located!
</p>

<%= render 'form', location: @location %>

<%= link_to 'Back', locations_path %>
